*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


img{
    width: 10rem;
}

header{
    min-height: 9vh;
}

main{
    background-color: black;
    min-height: 82vh;
}

footer{
    min-height: 9vh;
}

h1{
    background-color: rgb(155, 154, 154);
    height: 5rem;
}

h2{
    color: white;
}

label{
    color: aliceblue;
}

.spacing_category{
    gap: 5rem;
}

.height_box_category{
    height: 5rem;
}

.bg_white{
    background-color: white;
}

.width_footer_logos{
    width: 3rem;
}

.img_card_height{
    height: 10rem;
}

.cohort_footer{
    color: black;
    font-weight: bold;
}

.text_white{
    color: white;
}

.box_cards_container{
    height: 28rem;
}

.img_detail{
    width: 20rem;
    height: 20rem;
}

td{
    width: 15rem;
}

table{
    height: 9rem;
}

@media only screen and (max-width:767px) and (min-width:320px){
    .img_detail{
        height: 10rem;
    }
}
